/* =============================================================================
HTML5 Boilerplate CSS: h5bp.com/css
========================================================================== */

/* @group standard settings */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* @end */


/* ===== Initializr Styles =====================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

/*INTERACTIONS*/

#advanced {
	cursor: pointer;
}


/*GENERAL*/

body{
	font: 12px/16px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
}

#main, #after-main {
   	padding-right: 0;
   	padding-left: 0;
   }
   
   
   
   p{
	margin-top: 0;
	margin-bottom: 0;
}



label, form p {
	display: block;
	padding-top: 15px;
	padding-bottom: 5px;
}

h1, h2, h3,h4,h5{
}

h5.time {
	display: none;
}

p.details {
	display: none;
}

#articles h3.more {
	width: 100%;
}

h2{
	padding-top: 5px;
	padding-bottom: 2px;
	font-size: 22px;
	line-height: 120%;
}

/*FORMS*/

#main form.activity input {
	
}



.members li {
	margin-bottom: 5px;
	display: block;
	padding: 2px 5px;
	border: 1px solid gray;
	float: left;
	clear: left;
}

li.remove-member, li.action {
	clear: none;
	padding: 1px 5px;
	background-color: #D9D9D9;
	color: white;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-color: #D9D9D9;
	cursor: pointer;
}

li.remove-member:hover, li.add-button:hover, li.action:hover {
	background-color: gray;
	border-color: gray;
}

input#new-mem {
	
}

div.members-list {
	float: left;
	display: block;
	clear: both;
}

#main.admin {
	padding-right: 10px;
	padding-left: 10px;
}

li.add-button {
	clear: none;
	padding: 1px 5px;
	background-color: #D9D9D9;
	color: white;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-color: #D9D9D9;
	cursor: pointer;
	margin-left: 5px;
}

li.add-mem {
	
}

li.member {
	border-style: none;
	margin: 0;
	padding: 0;
}

#main form h3 {
	clear: left;
	float: none;
	display: block;
	margin: 0 0 10px;
	padding: 0;
}

#total {
	clear: both;
	float: left;
}

input#no-of-credits, input#no-of-credits-per-member, input#no-of-members {
	width: 80px;
}

label.admin {
	margin: 0;
	padding: 0 0 10px;
}

#sum {
	display: inline;
	float: left;
	margin-top: 10px;
	clear: left;
}

span#total {
}

#activity {
	width: 100%;
	margin: 10px 0;
	display: block;
	float: left;
	background-color: #D9D9D9;
}

article.register {
	width: auto;
	padding: 5px 10px;
	height: auto;
}

#activity article.register section p {
	margin: 0;
	padding: 0;
}

#main form article.register header h3 {
	padding: 0;
	margin: 0;
}

ul#members-litter.members {
	clear: both;
	float: left;
}

li.credit {
	clear: none;
	margin-left: 10px;
}

li.tc, li.add-mem {
	border-style: none;
	clear: none;
}

/*li.action {
	background-color: gray;
	color: white;
	cursor: pointer;
	border-radius: 15px;
	border-color: #D9D9D9;
}*/



/*
input.activity {
	width: 80%;
	height: 50px;
	font-size: 34px;
	margin: 0;
	padding: 0;
}

button.new {
	height: 50px;
	font-size: 2em;
	width: 18%;
	margin: 0;
	padding: 0;
}*/


/* ==============
    MOBILE: Menu
   ============== */
#logo{
	padding: 5px;
	background-color: silver;
	float: left;
	font-size: 12px;
	margin: 5px;
	width: 60px;
	text-align: center;
}

nav.primary  {
	text-align: right;
}
nav.primary ul {
	text-align: right;
	display: inline;
}
nav li {
	display: inline;
}
nav a {
	margin-bottom: 1px;
	color: silver;
	text-align:center;
	text-decoration:none;
	font-weight: bold;
	padding: 3px;
	margin-right: 2px;
}
nav a:hover, nav a:visited{
	color:white;
}
nav a:hover{
	text-decoration:underline;
}
h1#title {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
li.lang-welsh {
	display: none;
}


ul.hide li {
	display: none;
}
ul.menu li.menu-link {
	display: inline;
}

#header-global li h5 {
	display: inline;
	background-color: red;
	color: white;
	padding: 2px;
}

ul.menu.cloned {
	clear: both;
	display: block;
	width: 100%;
	background-color: maroon;
}

#page-nav{
	
}

#page-nav ul li a {
	color: blue;
}

#page-nav ul li a:hover {
	color: black;
}

/* ==============
    MOBILE: Header
   ============== */

#header-global {
	background: #444;

}

#header-local {
	background: #777;
}



#join-us {
	background-color: silver;
	padding: 3px;
	display: block;
	clear: both;
}

#local-title img {
	width: 30px;
	height: 30px;
	float: left;
	margin-top: 9px;
	margin-right: 10px;
}

h4#short-dec{
	color: #ccc;
	margin: 0;
	clear: both;
}

#subtitle{
	color: #fff;
	font: 24px "Lucida Grande", Lucida, Verdana, sans-serif;
	float: left;
	margin: 0;
}

/* ==============
    MOBILE: Intro
   ============== */

#hubintro {
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*#hubintro ul li {
	width: 31.25%;
	padding: 0.729166667%;
	height: 60px;
	margin-bottom: 0;
	background-color: silver;
	float: left;
}*/


li.middle-margin {
	margin-right: 0.9375%;
	margin-left: 0.9375%;
}


#left, #right, #middle{
	width: 31.25%;
	padding: 0.729166667%;
	height: 60px;
	background-color: silver;
}


#left {

	float: left;
}


#right {

	float: right;
}

#middle {
	margin-right: 0.9375%;
	margin-left: 0.9375%;
	margin-bottom: 10px;
	float: left;
}

#map {
	width: 100%;
	height: 140px;
	margin-top: 10px;
	clear: both;
}

#map-side{
	width: 100%;
	height: 240px;
	background-color: silver;
}



#articles-title p {
	margin-bottom: 10px;
	clear: both;
	margin-right: 10px;
	margin-left: 10px;
}


/*NOTIFICATIONS*/

h3.notify.offering {
	/*text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;*/


}

.details{
	width: 100%;
}

.expand{
	display: block;
}
 

li.offering {
		
	}
	
ul.notify-details {
		display: block;
	}
	
.notifications li {
	background: url(../img/plus.png) no-repeat 0px 5px;
	display: block;
	clear: both;
	cursor: pointer;
	}
	
.notifications li h3 {
padding-top: 5px;
padding-bottom: 5px;
padding-left: 30px;
margin-top: 0;
margin-bottom: 0;
margin-right: 5px;
}
	
ul.notify-details li {
	margin: 2px 2px 2px 0;
	padding: 5px;
	background: url(none) ;
}
		
		
		
	
/*FONTS*/
#main #hubintro ul li h3 {
	font-size: 20px;
	line-height: 24px;
}

/* ==============
    MOBILE: Main
   ============== */

#main{
	margin-bottom: 20px;
	background-color: #F1F1EF;
	padding-top: 0px;
	padding-bottom: 10px;
}

#main article h1{
	font-size:2em;
}

article {
	display: block;
	width: 46%;
	padding-right: 2%;
	padding-left: 2%;
	float: left;
	height: 420px;
}

.page-heading {
	display: block;
	clear: both;
	width: 100%;
}

article:nth-child(even) {

}

/* COLUMNS */
#col-1, #col-2, #col-3 {
	padding: 0 10px;
	clear: both;
}

#articles article header img {
	width: 100%;
}


h3.more, h3.more-spacer {
	text-align: center;
	background-color: silver;
	height: 20px;
	clear: both;
	display: inline-block;
}

h3.more-spacer{
	background-color: white;
}


/*ASIDE*/
aside{
	background-color: white;
	clear: both;
	padding: 5px;
}

.loans li,.deposits li {
	background-color: silver;
	margin-bottom: 10px;
	padding: 5px;
}

div.offering-action {
	clear: both;
}

#hub-desc {
	clear: left;
}
#hub-desc p {
	margin: 8px 0;
}
#hub-family {
	border-top: 1px solid #ccc;
	margin: 0.5em 0;
	padding: 0.5em 0 0 0;
	clear: both;
}
#hub-family ul {
	font-size: 120%;
}
#share {
	clear: none;
	background-color: silver;
	height: 20px;
	padding: 7px 5px 5px;
	margin: 2px 0 0;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 11px;
}



h5.status {
	font-style: italic;
	margin: 0;
}

ul.actions li a {
	float: left;
	margin-right: 5px;
	padding-bottom: 5px;
}

#articles-aside article {
	
}

#articles-aside article header img {
	width: 100%;
}

/*Hub stats*/
/*
.expanded {
	display: block;
}*/

.hub-stats {
	padding: 3px;
	background-color: silver;
	margin-bottom: 4px;
}

.hub-stats li {
	width: 25%;
	float: left;
}
.attendees li {
	width: 100%;
	clear: both;
	display: block;
}

.hub-stats h1 {
	margin: 2px;
	padding: 0;
	color: white;
}
.hub-stats p {
	font-size: 11px;
}


/*VIDEO*/
ul.video {
	margin: 0;
	padding: 0;
}
ul.video li {
	text-align: center;
}
ul.video iframe, ul.video-slider iframe {
	width: 100%;
	height: 200px;
}


/*STATEMENT*/



div.statement-amount {
	float: left;
	display: block;
	width: 90px;
}

p.amount {
	font-size: 5em;
	float: right;
}



.statement h2 {
	float: left;
	display: inline;
	margin-left: 10px;
	font-size: 1.5em;
	margin-top: -30px;
	text-align: left;
}

#statement ul.statement li {
	clear: both;
	display: block;
	padding: 20px 0 0;
	margin: 10px 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#statement ul.statement li div.title ul.statement-details li {
	display: block;
	margin-right: 20px;
	border-bottom-width: 0;
	width: auto;
}

ul.statement-details{
	margin-left: 100px;
}


/*FOOTER*/



#articles article footer {
	padding: 5px;
	background-color: silver;
	color:white;
	padding: 5px 0;
	text-align: center;
}

#articles-title img {
	width: 100%;
}



#share {
	float: left;
}

#link-to-business {
	margin-left: 50%;
}



#full-width-image {
	float: left;
	display: block;
	width: 100%;
}

#full-width-image img {
	width: 100%;
}

#articles-full article header img {
	width: 100%;
}

#local-title{
	float: left;
}

#credit-balance{
	float: right;
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 15px;
}

#info-member-hubs {
	clear: both;
	padding-top: 5px;
}

h3.no-of-credits {
	font-size: 30px;
	margin: 15px 0 10px;
	text-align: right;
}

#after-main {
	clear: both;
	margin-top: 10px;
	float: left;
}


h2.main-title { /*for non article pages*/
	clear: both;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title{ padding-top:20px; }


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
   
   
   
   h3.boxed{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}



li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


ul{
	margin: 0;
	padding: 0;
}





/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
