/* ====================
    WIDE
   ==================== */
   
article {
	width: 30.5555556%; /*220/720*/
	padding-right: 1.38888889%; /*10/720*/
	padding-left: 1.38888889%; /*10/720*/
}

#articles-title {
	margin-left: 1.38888889%; /*10/720*/;
	margin-right: 1.38888889%; /*10/720*/;
}

#articles-full article {
	width: 22.9166667%;
	padding-right: 1.04166667%;
	padding-left: 1.04166667%;
}

h3.more-spacer{
   	clear: both;
   	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #F1F1EF;
	height: 1px;
}

#header-local {
	padding-left: 2%;
}
   
#local-title {
	width: 73%;
}
   
#join-us {
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 5px 5px;
	margin: -5em 1% 1% 0;
	float: right;
}

div#join-us.join-us-member {
	float: none;
	margin: 0;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding-top: 1px;
}

aside{
	width: 22.9166667%; /*220/960px*/
	padding-right: 1.04166667%; /*10/960px*/
	padding-left: 1.04166667%;
}

aside #join-us {
	-moz-border-radius: 0;
	border-radius: 0px;
	margin: 0;
	float: none;
}
 
 
#branchintro{
}

    
#articles-full {
	margin-right: -0.666666664%;
	margin-left: -0.333333332%;
}

#articles {
	margin-right: 0;
	margin-left: 25%; /*240/960px gives a main of 740*/
}

#statement {
	width: 70%;
	clear: none;
	float: right;
	margin: 0;
	padding: 0;
}
     
/*VIDEO*/

ul.video iframe {
	width: 70%;
	height: 350px;
}